@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*Bebas Neue*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"); /*Cormorant*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /*Montserrat*/
/*
.fuentes {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
}
*/
body {
    text-align: center;
    justify-items: center;
}

a {
    text-decoration: none;
    color: black;
}
h1 {
  font-family:'Courier New', Courier, monospace
}

.text p {
    font-size: 0.8rem;
    color:#3f3f3e;
    /* letter-spacing: 0px; */
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


 /* Estilos de los contenedores */
 .container1, .container2 {
    display: inline-block;
    width: 50%;
    margin: 5px;
    padding: 0px;
    background-color: #000000;
    color: #f9f9f9;
    border: 2px solid #030202;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    font-size: smaller;
  }
.paintings-list {
    list-style: none;
    padding: 0;
}  
.paintings-list li {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #000000;
    font-style: italic;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paintings-list li img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.paintings-list li h2 {
    margin-top: 10px;
    text-align: center;
    
}




  /* Estilos del texto */
  .text{
    grid-area: 2/2/5/5;
    /* align-self: center;
    justify-self: center; */
  
  }
  .text_gen {
    color: rgb(0, 0, 0);
    background-color: white;
  }




/*==================================================================================
======================|            IMPRESIONISMO           |========================
====================================================================================
*/
.impresionismo {
  background-image: url(https://media.admagazine.com/photos/64530b2f73d7f735d6aa5430/master/w_1600%2Cc_limit/lirios-monet.jpg);
  background-size: cover ; /* Para ajustar la imagen al tamaño del contenedor */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}
.text_im {
  border-radius: 8px;
  z-index: 9999;
  color: #000000; /* Color de texto */
  box-shadow: #3f3f3e;
  background-color: rgba(255, 255, 255, 0.501);
  border: 2px solid #ffffff36;
  text-align: center;
  
}
/* .text_im_spec {
  color: rgb(0, 0, 0);
  background-color: white;
} */

.container_im_1, .container_im_2 {
  display: inline-block;
  width: 70%;
  margin: 10px;
  padding: 20px;
  background-color: antiquewhite;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  background-position: center; /* Centra la imagen dentro del contenedor */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
}
.container_im_2 {
  background-color: rgba(88, 171, 80, 0.684);
}


